* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: white;
}

:root {
  --primary-green: rgb(11, 217, 11);
  --white: white;
  --secondry-green: rgb(65, 226, 65);
  --htmlcolor: rgb(16, 14, 14);
   --tile-color: rgb(23, 22, 22);
   
}

html {
  scroll-behavior: smooth;
  background-color: rgb(16, 14, 14);
}

a {
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  box-shadow: 0 6px 18px rgb(0, 0, 0);
  border-radius: 14px;
  z-index: 100;
  position: sticky;
  top: 0.1px;
  margin: 0 14px;
  background-color: var(--tile-color);
}

.left {
  padding-top: 15px;
  /* margin: 13px; */
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  padding: 12px 12px;
  margin: 13px 13px;
}

.lin::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--primary-green);
  display: flex;
  margin-bottom: -6px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.lin:hover {
  color: var(--secondry-green);
}

.lin:hover::after {
  opacity: 1;
}

/* about-section */
.about {
  display: flex;
  height: 700px;
  box-shadow: 0 0px 50px rgb(0, 0, 0);
  border-radius: 29px;
  align-items: center;
  padding: 0px 20px;
  margin: 20px 30px;
  gap: 30px;
  background-color: var(--tile-color);
}



.about h1 {
  font-size: 50px;
  color: var(--secondry-green);
}

.about .yourself {
  flex: 5;
}

.about .photo {
  border: 2px solid black;
  border-radius: 20%;
  box-shadow: 0 0 10px black;

  flex: 1;
}

.photo img {
  width: 300px;
  border-radius: 20%;
  display: flex;
  /* justify-content: right; */
}

/* skill section  */
.skill h1 {
  text-align: center;
  margin-top: 40px;
  color: var(--primary-green);
  font-size: 40px;
}

.skill p {
  text-align: center;
  margin: 30px;
}

.learned,
.learning h2 {
  text-align: center;
}

.learned2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  object-fit: contain;
  box-shadow: 0 0 15px black;
  border-radius:23px ;


}

.cell:hover {
  box-shadow: 0 0 30px var(--secondry-green);
  border-radius: 23px;
  transition: 0.3s ease-in-out;
  scale: 1.25;
}
.java {
  width: 100px;
}

.learning2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 23px;
  padding: 23px;
  display: flex;
  flex-direction: column;
}


.se1 {
  /* display: flex; */
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 24px;
  align-items: center;
  text-align: center;
  height: 75vh;
  /* background-color: var(--tile-color); */
}
.textt h1{
color: var(--secondry-green);
font-size: 40px;
}

.add{
 
  display: flex;
  justify-content: center;
 
  margin: 90px;
}

.additional{
  display: flex;
  border: 2px solid black;
  border-radius: 23px;
  box-shadow: 0 0 8px black;
  height: 65px;
  margin: 6px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  
}

.additional:hover{
  scale: 1.125;
  box-shadow: 0 0 8px var(--secondry-green);
  transition: 0.2s ease-in-out;

}

/* Scroll container with horizontal scrolling enabled */
.scroll-container {
  position: relative;
  
  width: 100vw;
  overflow-x: scroll;  
  scrollbar-width: none;/* Enable horizontal scrolling */
  overflow-y: hidden;  /* Hide vertical scrollbar */
  white-space: nowrap; /* Keep cards in a single row */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Cards in a row */
.scroll-content {
  display: flex;
}

.card {
  position: relative;
  min-width: 200px;
  border: black;
  box-shadow:  0 0 36px  #000000;
  border-radius: 34px;
  height: 300px;
  width: 500px;
  margin: 30px 80px;
  padding:15px;
  display: inline-block; /* Align cards in a row */
  flex-shrink: 0;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  size: 50%;
  object-fit: cover;
  border-radius: 34px;
}

/* Hidden pop-up details */
.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 34px;
  overflow:hidden
}
.card-details h3 {
  margin-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
  
}

.card-details p {
  font-size: 14px;
  /* 3 lines max */
  line-height: 1.2em;
  white-space: normal;
  overflow: normal; 
  
  text-overflow: break-word; /* Add ellipsis if text overflows */

}

.card-details h3 {
  margin-bottom: 10px;
}

.card-details p {
  font-size: 14px;
}

/* Show the pop-up details on hover */
.card:hover .card-details {
  opacity: 1;
}

.card{
  display: flex;
}
/* contact section  */

.contact {
  margin: 14px;
  padding: 0 40px;
}

.contact h1,
.contact > h2 {
  text-align: center;
}

.contact h1 {
  font-size: 40px;
  color: var(--secondry-green);
}

.emaill {
  display: flex;
  gap: 40px;
  background-color: var(--tile-color);
  box-shadow:0 0 19px black;
  border-radius: 30px;
 padding-left: 10px;

}

.text {
  flex: 3;
}

.Etext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Etext p {
  font-size: 18px;
  color: var(--secondry-green);
}

.emaill form {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 10px;
  
}

#Email , #name  ,#message , #submit{
  border-radius: 10px;
}

.emaill form input,
.emaill form textarea {
  background-color: transparent;
  resize: none;
}

.emaill form button {
  background-color: rgb(44, 44, 44);
}
.social {
  margin: 23px;
  height: 10%;
  padding: 10px;
  text-align: center;
  /* box-shadow: 0 0 10px var(--primary-green); */
  border-radius: 40px;
}
.social p {
  font-size: 120%;
  color: var(--secondry-green);
}

.icon {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.icon a {
  margin: 20px 40px;
  padding: 10px;
  box-shadow: 2px 4px 5px #000000;

  border-radius: 50%;
  scale: 1;
}

.icon a:hover {
  scale: 1.75;
  transition: 0.35s ease-in-out;
}
.icon .fa-instagram:hover {
  background-image: radial-gradient(
    circle,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.icon .fa-twitter:hover {
  background-color: #1da1f2;
}
.icon .fa-linkedin:hover {
  background-color: #0077b5;
}
.icon .fa-github:hover {
  background-color: rgb(21, 20, 20);
}

@media (max-width: 850px) {
  .about img {
    width: 300px;
  }
}

@media (max-width: 500px){
  .Etext>p{
    margin-top: 10px;
  }

  
  .add .additional{
    margin-top: 3px;
  
  }

  .about{

    height: 120vh;
  }
.about img{

  top: 80px;
 width: auto;
 height: auto;
 
}
.add{
  flex-direction: column
}
  
}

@media (max-width: 650px) {
  /* navbar */
  nav {
    padding: 0px 5px;
  }

  .nav-item {
    padding: 12px 6px;
    margin: 13px 6px;
  }

  /* about section  */
  .about {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .about h1 {
    font-size: 38px;
  }

  .about img  {
    width: 250px;
    border: 1px solid rgb(5, 6, 5);
   
  }

  .photo {
    margin-top: 20px
  }


  .card-details p{
    overflow: scroll;
  
  }
  .cell img {
    object-fit: contain;
    width: 80px;
  }

  .cell:hover {
    scale: 1.114;
  }

  .add{
    flex-direction: column;
  }

 
  /* contact  */
  .emaill {
    display: flex;
    flex-direction: column;
  }

  .card{
    height: 200px;
    width: 375px;
    margin: 30px 30px;
  padding:10px;
  }


  .icon a {
    margin: 20px 20px;
  }
}
